.clear {
  clear:both;
}

.carousel {
  max-width: 800px;
  margin: auto;
}
.product {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

h1 {
  font-size: 120px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

p.subtitle {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 200;
}

.your-info {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 200;
}

li {
  list-style: none;
}

.info {
  margin: 10px 0 0 0;
}

ul {
  display: block;
  margin: auto;
}

.wrapper {
  float: right;
  right: 50%;
  position: relative;
}

.small {
  float: right;
  right: -50%;
  position: relative;
}

.small li {
  float: left;
  margin: 0 0 0 10px;
  width: 130px;
  padding: 7px 19px 14px;
}