.carousel {
  max-width: 800px;
  margin: auto;
}
.product {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

h1 {
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}

li {
  list-style: none;
}