<!DOCTYPE html>
<html ng-app="products">
  <head>
    <title>Buy it - Selling stuff</title>
    <meta name="description" content="Selling tech things. Selling Keyboard Apple Wireless, Mouse Razer Boom Slang, Mouse Razer Copperhead, Headset Razer Piranha and others things.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.2.0.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
<body>    
    <div class="container-fluid">
      <div class="row text-center">
        <h1 class="text-center">Buy it</h1>
        <p>If you want to buy something contact. felipe.lahti@gmail.com or 51-97591933</p>
      </div>
      <div class="row-fluid" ng-controller="ProductsCtrl">        
        <ul>
          <li class="product" ng-repeat="product in products">
            <h2 class="text-center">{{product.name}} - R${{product.price}}</h2>            
            <carousel interval="myInterval">
              <slide ng-repeat="slide in product.imgs" active="slide.active">
                <img ng-src="{{slide.img}}" style="margin:auto;">
              </slide>
            </carousel>
            <div class="info text-center">
              <p>{{product.description}}</p>
              <p><a target="_blank" href="{{product.link}}">{{product.link}}</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
